/* -- OSI STYLES --
-- Custom style sheet for CSI website, OSICRM -- */

/*=====================================================
 -- SITE SPECIFIC CSS --
======================================================*/

/* -- CSS RESET -- */

body, a, p, span, ul, ol, li, table, th, tr, td, div, h1, h2, h3, h4, h5, h6 {
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-family: "Trebuchet MS", "Helvetica", Arial, sans-serif;
	font-size: 16px;
}

/* -- CONTAINER STYLES -- */

#wrapper {
	width: 1019px;
	background: #fff url('../images/content_bg.png');
	background-repeat: repeat-y;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

#header {
	width: 1003px;
	height: 146px;
	margin-left: auto;
	margin-right: auto;
	background: url('../images/CSIWebHeader.png') top left repeat-x;
}

#navbar {
	width: 999px;
	margin-left: auto;
	margin-right: auto;
	background: #666;
	border: solid 2px #333;
}

#content {
	width: 1003px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: solid 2px #333;
	background: #d6d1b7;
}

#footer {
	width: 1003px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #f2f2f2;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* -- GENERAL STYLES -- */

body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background: #fff url('../images/body_bg.jpg');
	background-repeat: repeat-x;
}

div.perm {
	width: 200px;
	text-indent: 30px;
	display: inline;
	float: left;
}

div.setting {
	display: inline;
	float: left;
	clear: right;
}

div.maskname {
	display: inline;
	float:left;
}

table.splash {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;

}

td.splashLeft {
	width: 350px;
	border-right: 2px #333 solid;
	vertical-align: top;
	text-align: left;
}

td.splashLeft p {
	text-align: left;
	font-size: 14px;
}

td.splashRight {
	width: 350px;
	vertical-align: top;
	text-align: left;
}

td.splashRight p {
	text-align: left;
	font-size: 14px;
	margin-left: 20px;
}

div.toggle {
	display: none;
}

a.permToggle {
	float: right;
	vertical-align: top;
}

p {
	text-align: center;
}

p.center {
	margin-left: auto;
	margin-right: auto;
}

span.title {
	text-align: left;
	font-weight: bold;
}

span.chlogBigTitle {
	font-weight: bold;
	font-size: 18px;
}

span.chlogTitle {
	font-weight: bold;
	font-size: 16px;
}

div.chlog {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

div.chlog ul {
	margin-bottom: 15px;
}

div.chlog li {
	margin-left: 30px;
	padding-left: 5px;
}

div.chlog h2 {
	font-size: 20px;
}

span.form {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
}

span.export {
	font-size: 15px;
	text-align: right;
	float: right;
	vertical-align: middle;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

span.legend {
	font-size: 15px;
	text-align: left;
	float: left;
	vertical-align: middle;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

h2 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}

ul.report li {
	list-style-position: inside;
}

a:link, a:visited, a:active {
	color: #dd2211;
	text-decoration: none;
}

a:hover {
	color: #8b0000;
	text-decoration: underline;
}

/*=====================================================
 -- OSI COLOR REFERENCE SPECIFIC CSS --
======================================================*/


/* -- NAVIGATION STYLES -- */

#nav
{
	list-style: none;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 22px;
	background: #666;
	z-index: 0;
	position: relative;
	top: 0px;
}

#nav li
{
	float: left;
	display: inline;
	padding: 0px;
	margin: 0px;
	margin-left: 5px;
	margin-right: 25px;
	list-style: none;
	position: relative;
	vertical-align: top;
}

#nav li:hover
{
	background: #666;
}

#nav a
{
	display: block;
	text-decoration: none;
	color: #ccc;
	background: #666;
}

#nav a:hover
{
	text-decoration: none;
}

#nav li ul
{
	background: #666;
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	border: 1px #333 solid;
	border-top: none;
	margin-top: 0px;
	padding-top: 0px;
	left: -9999px;
	z-index: 2;
	vertical-align: top;
}

#nav ul a
{
	white-space: nowrap;
}

#nav ul li
{
	float: none;
	margin: 0px;
	padding: 0px;
	background: #666;
}

#nav li:hover ul
{
	left: 0px;
}

#nav li:hover a
{
	text-decoration: none;
}

#nav li:hover ul a
{
	background: #666;
	text-decoration: none;
}

#nav li:hover ul li a:hover
{
	background: #888;
	color: #fffacd;
}

/*=====================================================
 -- VIEW / TABLE SPECIFIC CSS --
======================================================*/

table {
	margin: auto;
	/*border-collapse: collapse;*/
	border-spacing: 1px;
}

table.form {
	margin-left: auto;
	margin-right: auto;
}

td.titleSmall {
	vertical-align: top;
	text-align: left;
	width: 100px;
}

td.titleMedium {
	vertical-align: top;
	text-align: left;
	width: 150px;
}

td.title {
	vertical-align: top;
	text-align: left;
	width: 200px;
}

td.titleLarge {
	vertical-align: top;
	text-align: left;
	width: 300px;
}

td.fieldCenter {
	vertical-align: top;
	text-align: center;
	width: 200px;
}

td.fieldLeft {
	vertical-align: top;
	text-align: left;
	width: 200px;
}

tr.osiAltBG:hover {
	background: #fffacd;
}

td {
	padding: 1px;
}

td.center {
	text-align: center;
}

td.left, td.form {
	text-align: left;
}

th {
	font-weight: bold;
	text-decoration: underline;
}

th.osiHeadLeft {
	text-align: left;
}

th.osiHeadCenter {
	text-align: center;
}

td.osiTextLeft {
	text-align: left;
}

td.osiTextCenter {
	text-align: center;
}

td.permissions {
	width: 350px;
}

td.permActions {
	width: 200px;
	vertical-align: top;
	text-align: center;
}

td.members
{
	width: 140px;
	vertical-align: top;
	text-align: center;
}
div.osiHeader {
	border: 1px solid #000;
	height: 25px;
	background: maroon;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 2px;
}

div.osiHeaderLeft {
	float: left;
	display: inline;
	text-align: left;
	color: #fff;
	font-size: 18px;
}

div.osiHeaderRight {
	float: right;
	display: inline;
	text-align: right;
	color: #fff;
	font-size: 18px;
}

div.osiContent {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

div#b2t {
	position: absolute;
	left: -10000px;
	border: 2px solid #660000;
	background: rgba(214,209,183,.5);
	padding: 8px;
	z-index: 5;
}

.sortable:hover, th#asc, th#desc {
	background: #ffdead;
}

